<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatCraft"
        tools:targetApi="31">
        <activity
            android:name=".InfoActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".RehberEkleActivity"
            android:exported="false" />
        <activity
            android:name=".DuzenActivity"
            android:exported="false" />
        <activity
            android:name=".BildirimlerActivity"
            android:exported="false" />
        <activity
            android:name=".AyarlarActivity"
            android:exported="false" />
        <activity
            android:name=".RehberActivity"
            android:exported="false" />
        <activity
            android:name=".MesajlarActivity"
            android:exported="false" />
        <activity
            android:name=".KodActivity"
            android:exported="false" />
        <activity
            android:name=".NumActivity"
            android:exported="false" />
        <activity
            android:name=".AdActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>